#chess-board-wrapper {
    --user-card-width: 60px;
    --chess-board-width: max(min(calc(100vw - var(--side-card-max-width) - (var(--vertical-gutter) * 3)), calc(100vh - (var(--user-card-width) * 2) - (var(--horizontal-margin) * 2))));;
    display: grid;
    grid-template-rows: var(--user-card-width) auto var(--user-card-width);
    grid-template-columns: min-content;
    justify-self: center;
    align-self: flex-start;
}

@media screen and (max-width: 1000px) {
    #chess-board-wrapper {
        align-self: center;
        --chess-board-width: min(calc(100vh - (var(--user-card-width) * 2) - (var(--horizontal-margin) * 2)), calc(100vw - (var(--vertical-margin) * 2)));
    }
}

@media screen and (orientation: portrait) {
    #chess-board-wrapper {
        align-self: center;
        --chess-board-width: min(calc(100vh - (var(--user-card-width) * 2) - (var(--horizontal-margin) * 2)), calc(100vw - (var(--vertical-margin) * 2)));
    }
}

.player-card {
    display: grid;
    grid-template-areas: 
        "avatar username ."
        "avatar captures points";
    grid-template-columns: min-content min-content auto;
    grid-template-rows: 20px 30px;
    column-gap: 20px;
    min-width: var(--layout-min-width);
}
.player-avatar {
    grid-area: avatar;
    align-self: center;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    overflow: hidden;
}
.player-avatar svg {
    --padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    height: calc(100% - (var(--padding) * 2));
    width: calc(100% - (var(--padding) * 2));
}
.username {
    grid-area: username;
    font-size: 14px;
    color: var(--color-white);
    white-space: nowrap;
}
.captured-pieces {
    grid-area: captures;
    justify-self: flex-start;
    padding-top: 5px;
    white-space: nowrap;
}
.piece-type {
    margin-right: 12.5px;
}
.piece {
    position: relative;
    margin-right: -5px;
    color: var(--color-white);
    font-size: 20px;
}
.captured-points {
    grid-area: points;
    padding-top: 5px;
    color: var(--color-gray);
}

@media screen and ((max-width: 375px) or (max-height: 375px)){
    .player-card {
        column-gap: 10px;
    }
    .player-avatar {
        width: 40px;
        height: 40px;
    }
    .player-avatar svg{
        --padding: 7.5px;
    }
    .username {
        font-size: 12px;
    }
    .piece {
        font-size: 16px;
    }
    .captured-points {
        font-size: 13px;
    }
}