#chess-board-wrapper {
  --user-card-width: 60px;
  --chess-board-width: max(
    min(
      calc(100vw - var(--side-card-max-width) - (var(--vertical-gutter) * 3)),
      calc(
        100vh - (var(--user-card-width) * 2) - (var(--horizontal-margin) * 2)
      )
    )
  );
  display: grid;
  grid-template-rows: var(--user-card-width) auto var(--user-card-width);
  grid-template-columns: min-content;
  justify-self: center;
  align-self: flex-start;
  min-width: var(--layout-min-width);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  #chess-board-wrapper {
    align-self: center;
    --chess-board-width: min(
      calc(
        100vh - (var(--user-card-width) * 2) - (var(--horizontal-margin) * 2)
      ),
      calc(100vw - (var(--vertical-margin) * 2))
    );
  }
}

@media screen and (orientation: portrait) {
  #chess-board-wrapper {
    align-self: center;
    --chess-board-width: min(
      calc(
        100vh - (var(--user-card-width) * 2) - (var(--horizontal-margin) * 2)
      ),
      calc(100vw - (var(--vertical-margin) * 2))
    );
  }
}

.player-card {
  display: grid;
  grid-template-areas:
    "avatar username time"
    "avatar capture-info time";
  grid-template-columns: repeat(2, min-content) auto;
  grid-template-rows: 20px 30px;
  position: relative;
  column-gap: 20px;
  padding: 5px;
  min-width: var(--layout-min-width);
  background: var(--bg-dark-gray500);
}
.player-avatar {
  grid-area: avatar;
  align-self: center;
  height: 50px;
  width: 50px;
  border-radius: 3px;
  overflow: hidden;
}
.player-avatar svg {
  --padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding);
  height: calc(100% - (var(--padding) * 2));
  width: calc(100% - (var(--padding) * 2));
}
.username {
  grid-area: username;
  font-size: 14px;
  color: var(--color-white);
  white-space: nowrap;
}
.captures-wrapper {
  grid-area: capture-info;
  display: flex;
  align-items: center;
  gap: 7.5px;
  height: 100%;
}
.captured-pieces {
  white-space: nowrap;
}
.piece-type {
  margin-right: 12.5px;
}
.piece {
  position: relative;
  margin-right: -5px;
  color: var(--color-white);
  font-size: 20px;
}
.captured-points {
  color: var(--color-gray);
}
.time {
  grid-area: time;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  height: 100%;
  width: 100px;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

@media screen and ((max-width: 375px) or (max-height: 375px)) {
  #chess-board-wrapper {
    --user-card-width: 50px;
  }
  .player-card {
    column-gap: 7px;
    grid-template-rows: repeat(2, 20px);
  }
  .player-avatar {
    width: 40px;
    height: 40px;
  }
  .player-avatar svg {
    --padding: 7.5px;
  }
  .username {
    font-size: 12px;
  }
  .piece {
    font-size: 15px;
  }
  .captured-points {
    font-size: 13px;
  }
}
