#chess-board {
    position: relative;
    justify-self: flex-start;
    margin-top: 5%;
    margin-left: 10%;
    height: 70vh;
    width: 70vh;
    border-radius: 10px;
    background-size: cover;
}

/********************************************************
        Chess Board Backgrounds 
**************************************************/
.bg-tan {
    background-image:url("assets/background/board_tan.png");
}
/*************************************************
        Chess Board Backgrounds
********************************************************/

/********************************************************
        Piece Backgrounds 
**************************************************/
.br {
  background-image: url("assets/images/black_rook.png");
}
.bn {
  background-image: url("assets/images/black_knight.png");
}
.bb {
  background-image: url("assets/images/black_bishop.png");
}
.bq {
  background-image: url("assets/images/black_queen.png");
}
.bk {
  background-image: url("assets/images/black_king.png");
}
.bp {
  background-image: url("assets/images/black_pawn.png");
}
.wr {
  background-image: url("assets/images/white_rook.png");
}
.wn {
  background-image: url("assets/images/white_knight.png");
}
.wb {
  background-image: url("assets/images/white_bishop.png");
}
.wq {
  background-image: url("assets/images/white_queen.png");
}
.wk {
  background-image: url("assets/images/white_king.png");
}
.wp {
  background-image: url("assets/images/white_pawn.png");
}
/*************************************************
        Piece Backgrounds
********************************************************/

.piece {
    position: absolute;
    cursor: grab;
  }

.piece-img {
  height: 12.5%;
  width: 12.5%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}

.dragging {
    z-index: 999;
}
