#chess-board {
  position: relative;
  min-width: var(--layout-min-width); /* From app */
  width: var(--chess-board-width); /* From chessboard wrapper */
  aspect-ratio: 1;
  border-radius: 8px;
  background-size: cover;
}

#board-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

/********************************************************
        Chess Board Backgrounds 
**************************************************/
.bg-tan {
  background-image: url("assets/background/board_tan.png");
}
/*************************************************
        Chess Board Backgrounds
********************************************************/

/********************************************************
        Piece Backgrounds 
**************************************************/
.br {
  background-image: url("assets/images/black_rook.png");
}
.bn {
  background-image: url("assets/images/black_knight.png");
}
.bb {
  background-image: url("assets/images/black_bishop.png");
}
.bq {
  background-image: url("assets/images/black_queen.png");
}
.bk {
  background-image: url("assets/images/black_king.png");
}
.bp {
  background-image: url("assets/images/black_pawn.png");
}
.wr {
  background-image: url("assets/images/white_rook.png");
}
.wn {
  background-image: url("assets/images/white_knight.png");
}
.wb {
  background-image: url("assets/images/white_bishop.png");
}
.wq {
  background-image: url("assets/images/white_queen.png");
}
.wk {
  background-image: url("assets/images/white_king.png");
}
.wp {
  background-image: url("assets/images/white_pawn.png");
}
/*************************************************
        Piece Backgrounds
********************************************************/

.piece-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 12.5%;
  width: 12.5%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  cursor: grab;
}

.mouse-drag {
  z-index: 999;
}

.touch-drag {
  transform: scale(2.25);
  z-index: 999;
}
