#game-decision-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-family: var(--font-primary);
  background: var(--bg-transparent-black);
  z-index: 999;
}
.modal-card {
  display: grid;
  grid-template-rows: 145px min-content auto;
  grid-template-columns: auto;
  position: relative;
  height: min-content;
  width: 100%;
  max-width: 400px;
  background: var(--bg-white);
  box-shadow: 1px 1px 25px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow: hidden;
}
.modal-card header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 0px 4px 1px var(--color-dark-primary);
  color: var(--color-white);
  background: var(--bg-dark-secondary);
  box-shadow: 0px 1px 14px 5px rgba(0, 0, 0, 0.5);
}
.modal-card p {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 15px;
  text-align: center;
  color: var(--color-black);
}
#winner-txt {
  font-size: 22px;
  font-weight: 600;
}
#decision-txt {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-gray900);
}
#game-over-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  column-gap: 15px;
  padding: 15px 10px 20px 10px;
}
.game-over-button {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  background: var(--bg-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.game-over-button:hover {
  background: var(--bg-hover-color);
}

#exit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 18px;
  color: var(--color-white);
  z-index: 999;
  cursor: pointer;
}
