.highlight-square {
  position: absolute;
  height: 12.5%;
  width: 12.5%;
  background: rgba(245, 204, 42, 0.5);
}

.possible-move-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 12.5%;
  width: 12.5%;
  cursor: pointer;
}

.possible-move-hint {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.possible-move-capture-hint {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: solid var(--border-thickness) rgba(0, 0, 0, 0.1);
  z-index: 99;
}
