body, html {
    background: var(--bg-dark-gray300);
}

#layout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    column-gap: 30px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 100%;
    max-width: 1980px;
    font-family: var(--font-primary);
}
#layout button{
    font-family: inherit;
}

#side-card {
    margin: 30px 0;
    min-height: 500px;
    height: calc(100vh - 60px);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background: var(--bg-dark-gray500);
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media screen and (max-width: 1000px){
    #layout {
        flex-direction: column;
    }
    #side-card {
        margin: 0;
        margin-bottom: 30px;
        height: 80vh;
        max-width: none;
    }
}

@media screen and (orientation: portrait) {
    #layout {
        flex-direction: column;
    }

    #side-card {
        margin: 0;
        margin-bottom: 30px;
        height: 80vh;
        max-width: none;
    }
}