body, html {
    background: var(--bg-dark-gray300)
}

#layout {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    margin: 0 auto;
    min-height: 100vh;
    width: 100vw;
}

#side-card {
    height: calc(100vh - 50px);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    background: var(--bg-dark-gray500);
    overflow: hidden;
}