@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
/* Strip elements of default values */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* CSS variables */
:root {
    /* layout */
    --layout-max-width: 1200px;

    /* Fonts */
    --font-primary: 'Poppins', sans-serif;

    /* Colors */
    --color-black: #141414;
    --color-white: #fff8f8;
    --color-gray: #b9b9b9;
    --color-dark-gray900: #090909;


    /* Bg Colors */
    --bg-black: #141414;
    --bg-gray: #dadada;
    --bg-gray500: #ababab;
    --bg-white: #fff8f8;
    --bg-dark-blue: #343477;
    --bg-blue: #6767f0;
    --bg-red: #ed6262;
    --bg-green: #a8d254;
    --bg-dark-yellow: #e1de3f;
    --bg-dark-gray300: #2f2f2f;
    --bg-dark-gray500: #252525;
    --bg-dark-gray700: #1c1c1c;
    --bg-dark-gray900: #090909;

    /* Hover Color */
    --hover-yellow: rgba(255, 247, 0, 0.425);

    /* Chess Board Colors */
    --color-tan-dark: rgb(255, 177, 75);
    --color-tan-light: rgb(255, 199, 104);
}