@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
/* Strip elements of default values */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

/* CSS variables */
:root {
  /* layout */
  --layout-max-width: 1200px;

  /* Fonts */
  --font-primary: "Poppins", sans-serif;

  /* Colors */
  --color-primary: #31572c;
  --color-black: #222222;
  --color-white: #fff8f8;
  --color-gray: #c2c2c2;
  --color-gray300: #a9a9a9;
  --color-gray900: #505050;
  --color-light-primary: #4f772d;
  --color-light-secondary: #00509d;
  --color-dark-primary: #132a13;
  --color-dark-secondary: #001f54;
  --color-dark-blue: #2d2d69;
  --color-dark-gray100: #3f3f3f;
  --color-dark-gray700: #1f1f1f;
  --color-dark-gray900: #131313;

  /* Bg Colors */
  --bg-primary: #31572c;
  --bg-secondary: #00296b;
  --bg-black: #141414;
  --bg-gray: #dadada;
  --bg-gray500: #ababab;
  --bg-white: #fff8f8;
  --bg-blue: #6767f0;
  --bg-red: #ed6262;
  --bg-green: #a8d254;
  --bg-yellow: #f4f14a;
  --bg-light-primary: #4f772d;
  --bg-light-secondary: #00509d;
  --bg-light-gray: #e3e3e3;
  --bg-dark-primary: #132a13;
  --bg-dark-secondary: #001f54;
  --bg-dark-blue: #1d1d5f;
  --bg-dark-yellow: #e1de3f;
  --bg-dark-gray100: #3f3f3f;
  --bg-dark-gray300: #2f2f2f;
  --bg-dark-gray500: #252525;
  --bg-dark-gray700: #1c1c1c;
  --bg-dark-gray900: #090909;

  /* Transparent Bg Colors */
  --bg-transparent-black: #09090940;
  --bg-transparent-dark-gray900: #090909ce;
  --bg-transparent-gray500: #ababab51;
  --bg-transparent-white: #ffffff30;

  /* Hover Color */
  --hover-yellow: rgba(255, 247, 0, 0.425);
  --hover-gray: #ececec;

  /* Chess Board Colors */
  --color-tan-dark: rgb(176, 116, 38);
  --color-tan-light: rgb(253, 210, 137);
}
