#moves-viewer {
  position: relative;
  color: var(--color-white);
  overflow: auto;
}
#moves-viewer header {
  grid-area: header;
  margin: 4px;
  padding: 15px 0;
  font-size: 14px;
  text-align: center;
  background: var(--bg-dark-gray500);
}
#move-list {
  display: flex;
  flex-direction: column;
}
.move-row {
  display: grid;
  grid-template-columns: 40px repeat(2, 1fr);
  grid-auto-rows: 43px;
  align-items: center;
  gap: 3px;
  margin: 1.5px 4px;
}
.move-num {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--bg-dark-gray500);
  border-radius: 4px;
}
.move {
  display: flex;
  align-items: center;
  padding-left: var(--left-offset);
  gap: 15px;
  height: 100%;
  background: var(--bg-dark-gray300);
  border-radius: 4px;
}
.move:hover {
  background: var(--bg-gray900);
}
.active-move {
  background: var(--bg-primary);
}
.active-move:hover {
  background: var(--bg-primary);
}
.move-san {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 3px;
  border-radius: 2px;
}
.move-clickable {
  cursor: pointer;
}

@media screen and ((max-width: 375px) or (max-height: 375px)) {
  #moves-viewer header {
    font-size: 12px;
  }
  #move-list {
    grid-auto-rows: 38.5px;
  }
  .move-row {
    grid-template-columns: 16px repeat(2, 1fr);
    font-size: 13px;
  }
  .move {
    gap: 5px;
  }
}
